<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-BR">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Esporte Mogi | Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Venha conhecer a primeira plataforma 100% brasileira focada no esporte. Faça parte de aulas da unidade mais perto de">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../icon/favicon-16x16.png">
    <link rel="manifest" href="../icon/site.webmanifest">
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header role="banner">
        <nav class="navbar navbar-expand-lg  bsnav bsnav-light py-3 px-5" style="position: fixed;">
            <a class="navbar-brand text-default-secondary font-weight-bold" style="opacity: 0.8;letter-spacing: 0.4em;" href="#">
                <img src="../svg/logo.svg" height="45px">
            </a>
            <button class="navbar-toggler toggler-spring" aria-label="Botão de menu"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-md-between p-2 ">
                <ul class="navbar-nav navbar-mobile ml-0 flex-grow-1 justify-content-center ">
                    <li class="nav-item active"><a class="nav-link text-default-secondary-link p-0 h2" href="#principal">Início</a></li>
                    <li class="nav-item"><a class="nav-link text-default-secondary-link p-0 h2" href="#sobre">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link text-default-secondary-link p-0 h2" href="#noticias">Notícias</a></li>
                    <li class="nav-item"><a class="nav-link text-default-secondary-link p-0 h2" href="#servicos">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link text-default-secondary-link p-0 h2" href="#eventos">Eventos</a></li>
                    <li class="nav-item"><a class="nav-link text-default-secondary-link p-0 h2" href="#unidades">Unidades</a></li>
                </ul>
                <ul class="navbar-nav navbar-mobile mr-0 d-flex align-items-center">
                    <li class="nav-item"><a class="nav-link text-default-secondary-link p-0 h3 py-2" href="#"><i class="fas fa-sign-in-alt pr-2"></i> Entre</a></li>
                    <li class="nav-item"><a class="nav-link text-default-secondary-link p-0 h3 py-2" href="#"><i class="fas fa-user-plus pr-2"></i> Cadastre-se</a></li>
                </ul>
            </div>
        </nav>
        <section class="principal-section d-flex p-lg-5 " id="principal">
            <div class="container-fluid h-100">
                <div class="h-100 d-flex justify-content-center text-center flex-column ">
                    <div class="row ">
                        <div class="col-sm-12 text-white ">
                            <p class="font-weight-bold font-italic text-shadow-drop-bottom">Lorem ipsum dolor sit amet.</p>
                            <h1 class="text-shadow-drop-bottom text-uppercase">Lorem ipsum dolor sit.</h1>
                            <p class="h5 text-shadow-drop-bottom">Lorem ipsum dolor sit amet consectetur reiciendis?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="info-section" id="sobre">
            <div class="container my-5">
                <div class="d-flex align-items-center pb-4">
                    <h2 >VENHA NOS CONHECER</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 p-3  ">
                        <p class="pb-1 h2 font-weight-bolder font-italic text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <p class="py-3 h2" style="line-height: 3rem !important;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ea provident voluptatum assumenda. Aliquid necessitatibus et sed hic, voluptas natus officia temporibus doloremque tenetur excepturi, dolorum deleniti asperiores beatae repellat.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="info-section" id="servicos">
            <div class="container my-5">

                <div class="row justify-content-between">
                    <div class="col-sm-5 p-3">
                        <div class="d-lg-flex  align-items-center ">
                            <h2>SERVIÇOS</h2>
                            <a href="#" class="ml-sm-0 ml-md-3 h3 font-weight-bolder text-default-secondary-link">Ver Todos</a>
                        </div>
                        <p class="h2" style="line-height: 3rem !important;">
                            A plataforma lhe oferece suporte para vários recursos.
                            Por isso, fique por dentro de alguns de nossos
                            melhores serviços que são oferecidos de forma gratuíta ao cidadão
                            Mogiano!
                        </p>
                        <p class="py-3 h2 font-weight-bold" style="line-height: 3rem !important;">
                            Veja abaixo os projetos mais procurados:
                        </p>
                    </div>
                    <div class="col-sm-5 text-center">
                        <div class="row flex-column">
                            <div class="col-md-12">
                                <i class="p-4 fas fa-user-friends fa-7x"></i>
                                <h4 class="h1 font-weight-bold">Grade Horária</h4>
                                <p class="h3 p-3">Quer começar a fazer aulas mas não sabe como?</p>
                                <a class="h3 text-default-secondary-link font-weight-bolder" href="#">Veja nossa Grade Horária</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="content-section" id="eventos">
            <div class="container my-5">
                <div class="d-lg-flex my-4 align-items-center justify-content-center text-center">
                    <h2>PRÓXIMOS EVENTOS</h2>
                    <a href="#" class="ml-sm-0 ml-md-3 h3 font-weight-bolder text-default-link">Ver Todos</a>
                </div>
                <hr class="hr-darkcyan">
                <div class="row mt-5">
                    <div class="col-sm-6 col-lg-3 my-4 ">
                        <article class="card border-0 shadow-lg h-100 overflow-hidden">
                            <img class="card-img-top" src="../images/event1.webp" alt="Card image cap">
                            <div class="card-header text-center">
                                <h3 class="card-title font-weight-bold h2">Nome do Evento</h3>
                                <p class="card-subtitle title h4 m-0">Tipo de Evento</p>
                                <div class="d-flex justify-content-around pt-4 h5">
                                    <p class="m-0"><i class="fas fa-calendar-day  px-2" aria-hidden="true"></i><time datetime="0000-00-00">00/00/0000</time></p>
                                    <p class="m-0"><i class="far fa-clock px-2" aria-hidden="true"></i> <time datetime="08:00-03:00">08:00</time>
                                    </p>
                                </div>
                            </div>
                            <div class="card-body text-center h5">
                                <p class="card-text"><i class="far fa-calendar-alt h3" aria-hidden="true"></i>
                                    <br>Inscrições abertas
                                    até <time datetime="1914-12-20 19:00">20/12/1914 às 19:00</time>
                                </p>
                                <a href="#" class="btn btn-outline-default font-weight-bold mt-3 btn-lg">Inscreva-se
                                    AGORA <i class="fas fa-user-plus pl-2" aria-hidden="true"></i></a>
                            </div>
                            <div class="card-footer text-right p-0">
                                <button type="button" class="btn btn-link text-default btn-lg p-1" data-toggle="tooltip"
                                    data-html="true" title="Evento disponível para pessoas de -- até -- anos"
                                    aria-label="Faixa etária do evento">
                                    <i class="fas fa-birthday-cake" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-link text-default btn-lg p-1" data-toggle="tooltip"
                                    data-html="true" title="Evento acessível para pessoas com deficiência"
                                    aria-label="Acessibilidade do evento">
                                    <i class="fas fa-wheelchair" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-link fm p-0 m-0 event-info-toggle text-default-link pr-3"><i
                                    class="fas fa-angle-double-up" aria-hidden="true"></i> Ver mais</button>
                            </div>
                            <div class="event-info text-center">
                                <button type="button"
                                    class="btn btn-link event-info-link fm event-info-toggle text-default-secondary-link position-absolute">
                                    <i class="fas fa-angle-double-down" aria-hidden="true"></i> Ver menos
                                </button>
                                <div class="card-body p-2  d-flex flex-column justify-content-center h-100">
                                    <p class="text-light py-1 h5"><span class="font-weight-bold h4"><i
                                                class="fas fa-map-marked p-2" aria-hidden="true"></i><br>Endereço:
                                        </span><br>Espaço
                                        Esportivo<br>Rua Logradouro, 140, Bairro, Cidade - SP</p>
                                    <p class="text-light py-1 h5"><span class="font-weight-bold h4"><i
                                                class="fas fa-info-circle p-2" aria-hidden="true"></i><br>Descrição:
                                        </span><br>Lorem ipsum
                                        dolor, sit amet consectetur adipisicing elit. Eum sed esse voluptatum doloribus
                                        quidem corporis optio harum rerum sint aperiam culpa cumque praesentium
                                        reiciendis, quod tenetur pariatur ex asperiores necessitatibus.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-3 my-4 ">
                        <article class="card border-0 shadow-lg h-100 overflow-hidden">
                            <img class="card-img-top" src="../images/event1.webp" alt="Card image cap">
                            <div class="card-header text-center">
                                <h3 class="card-title font-weight-bold h2">Nome do Evento</h3>
                                <p class="card-subtitle title h4 m-0">Tipo de Evento</p>
                                <div class="d-flex justify-content-around pt-4 h5">
                                    <p class="m-0"><i class="fas fa-calendar-day  px-2" aria-hidden="true"></i><time datetime="0000-00-00">00/00/0000</time></p>
                                    <p class="m-0"><i class="far fa-clock px-2" aria-hidden="true"></i> <time datetime="08:00-03:00">08:00</time>
                                    </p>
                                </div>
                            </div>
                            <div class="card-body text-center h5">
                                <p class="card-text"><i class="far fa-calendar-alt h3" aria-hidden="true"></i>
                                    <br>Inscrições abertas
                                    até <time datetime="1914-12-20 19:00">20/12/1914 às 19:00</time>
                                </p>
                                <a href="#" class="btn btn-outline-default font-weight-bold mt-3 btn-lg">Inscreva-se
                                    AGORA <i class="fas fa-user-plus pl-2" aria-hidden="true"></i></a>
                            </div>
                            <div class="card-footer text-right p-0">
                                <button type="button" class="btn btn-link text-default btn-lg p-1" data-toggle="tooltip"
                                    data-html="true" title="Evento disponível para pessoas de -- até -- anos"
                                    aria-label="Faixa etária do evento">
                                    <i class="fas fa-birthday-cake" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-link text-default btn-lg p-1" data-toggle="tooltip"
                                    data-html="true" title="Evento acessível para pessoas com deficiência"
                                    aria-label="Acessibilidade do evento">
                                    <i class="fas fa-wheelchair" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-link fm p-0 m-0 event-info-toggle text-default-link pr-3"><i
                                    class="fas fa-angle-double-up" aria-hidden="true"></i> Ver mais</button>
                            </div>
                            <div class="event-info text-center">
                                <button type="button"
                                    class="btn btn-link event-info-link fm event-info-toggle text-default-secondary-link position-absolute">
                                    <i class="fas fa-angle-double-down" aria-hidden="true"></i> Ver menos
                                </button>
                                <div class="card-body p-2  d-flex flex-column justify-content-center h-100">
                                    <p class="text-light py-1 h5"><span class="font-weight-bold h4"><i
                                                class="fas fa-map-marked p-2" aria-hidden="true"></i><br>Endereço:
                                        </span><br>Espaço
                                        Esportivo<br>Rua Logradouro, 140, Bairro, Cidade - SP</p>
                                    <p class="text-light py-1 h5"><span class="font-weight-bold h4"><i
                                                class="fas fa-info-circle p-2" aria-hidden="true"></i><br>Descrição:
                                        </span><br>Lorem ipsum
                                        dolor, sit amet consectetur adipisicing elit. Eum sed esse voluptatum doloribus
                                        quidem corporis optio harum rerum sint aperiam culpa cumque praesentium
                                        reiciendis, quod tenetur pariatur ex asperiores necessitatibus.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-3 my-4">
                        <article class="card border-0 shadow-lg h-100 overflow-hidden">
                            <img class="card-img-top" src="../images/event1.webp" alt="Card image cap">
                            <div class="card-header text-center">
                                <h3 class="card-title font-weight-bold h2">Nome do Evento</h3>
                                <p class="card-subtitle title h4 m-0">Tipo de Evento</p>
                                <div class="d-flex justify-content-around pt-4 h5">
                                    <p class="m-0"><i class="fas fa-calendar-day  px-2" aria-hidden="true"></i><time datetime="0000-00-00">00/00/0000</time></p>
                                    <p class="m-0"><i class="far fa-clock px-2" aria-hidden="true"></i> <time datetime="08:00-03:00">08:00</time>
                                    </p>
                                </div>
                            </div>
                            <div class="card-body text-center h5">
                                <p class="card-text"><i class="far fa-calendar-alt h3" aria-hidden="true"></i>
                                    <br>Inscrições abertas
                                    até <time datetime="1914-12-20 19:00">20/12/1914 às 19:00</time>
                                </p>
                                <a href="#" class="btn btn-outline-default font-weight-bold mt-3 btn-lg">Inscreva-se
                                    AGORA <i class="fas fa-user-plus pl-2" aria-hidden="true"></i></a>
                            </div>
                            <div class="card-footer text-right p-0">
                                <button type="button" class="btn btn-link text-default btn-lg p-1" data-toggle="tooltip"
                                    data-html="true" title="Evento disponível para pessoas de -- até -- anos"
                                    aria-label="Faixa etária do evento">
                                    <i class="fas fa-birthday-cake" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-link text-default btn-lg p-1" data-toggle="tooltip"
                                    data-html="true" title="Evento acessível para pessoas com deficiência"
                                    aria-label="Acessibilidade do evento">
                                    <i class="fas fa-wheelchair" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-link fm p-0 m-0 event-info-toggle text-default-link pr-3"><i
                                    class="fas fa-angle-double-up" aria-hidden="true"></i> Ver mais</button>
                            </div>
                            <div class="event-info text-center">
                                <button type="button"
                                    class="btn btn-link event-info-link fm event-info-toggle text-default-secondary-link position-absolute">
                                    <i class="fas fa-angle-double-down" aria-hidden="true"></i> Ver menos
                                </button>
                                <div class="card-body p-2  d-flex flex-column justify-content-center h-100">
                                    <p class="text-light py-1 h5"><span class="font-weight-bold h4"><i
                                                class="fas fa-map-marked p-2" aria-hidden="true"></i><br>Endereço:
                                        </span><br>Espaço
                                        Esportivo<br>Rua Logradouro, 140, Bairro, Cidade - SP</p>
                                    <p class="text-light py-1 h5"><span class="font-weight-bold h4"><i
                                                class="fas fa-info-circle p-2" aria-hidden="true"></i><br>Descrição:
                                        </span><br>Lorem ipsum
                                        dolor, sit amet consectetur adipisicing elit. Eum sed esse voluptatum doloribus
                                        quidem corporis optio harum rerum sint aperiam culpa cumque praesentium
                                        reiciendis, quod tenetur pariatur ex asperiores necessitatibus.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-3 my-4">
                        <article class="card border-0 shadow-lg h-100 overflow-hidden">
                            <img class="card-img-top" src="../images/event1.webp" alt="Card image cap">
                            <div class="card-header text-center">
                                <h3 class="card-title font-weight-bold h2">Nome do Evento</h3>
                                <p class="card-subtitle title h4 m-0">Tipo de Evento</p>
                                <div class="d-flex justify-content-around pt-4 h5">
                                    <p class="m-0"><i class="fas fa-calendar-day  px-2" aria-hidden="true"></i><time datetime="0000-00-00">00/00/0000</time></p>
                                    <p class="m-0"><i class="far fa-clock px-2" aria-hidden="true"></i> <time datetime="08:00-03:00">08:00</time>
                                    </p>
                                </div>
                            </div>
                            <div class="card-body text-center h5">
                                <p class="card-text"><i class="far fa-calendar-alt h3" aria-hidden="true"></i>
                                    <br>Inscrições abertas
                                    até <time datetime="1914-12-20 19:00">20/12/1914 às 19:00</time>
                                </p>
                                <a href="#" class="btn btn-outline-default font-weight-bold mt-3 btn-lg">Inscreva-se
                                    AGORA <i class="fas fa-user-plus pl-2" aria-hidden="true"></i></a>
                            </div>
                            <div class="card-footer text-right p-0">
                                <button type="button" class="btn btn-link text-default btn-lg p-1" data-toggle="tooltip"
                                    data-html="true" title="Evento disponível para pessoas de -- até -- anos"
                                    aria-label="Faixa etária do evento">
                                    <i class="fas fa-birthday-cake" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-link text-default btn-lg p-1" data-toggle="tooltip"
                                    data-html="true" title="Evento acessível para pessoas com deficiência"
                                    aria-label="Acessibilidade do evento">
                                    <i class="fas fa-wheelchair" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-link fm p-0 m-0 event-info-toggle text-default-link pr-3"><i
                                    class="fas fa-angle-double-up" aria-hidden="true"></i> Ver mais</button>
                            </div>
                            <div class="event-info text-center">
                                <button type="button"
                                    class="btn btn-link event-info-link fm event-info-toggle text-default-secondary-link position-absolute">
                                    <i class="fas fa-angle-double-down" aria-hidden="true"></i> Ver menos
                                </button>
                                <div class="card-body p-2  d-flex flex-column justify-content-center h-100">
                                    <p class="text-light py-1 h5"><span class="font-weight-bold h4"><i
                                                class="fas fa-map-marked p-2" aria-hidden="true"></i><br>Endereço:
                                        </span><br>Espaço
                                        Esportivo<br>Rua Logradouro, 140, Bairro, Cidade - SP</p>
                                    <p class="text-light py-1 h5"><span class="font-weight-bold h4"><i
                                                class="fas fa-info-circle p-2" aria-hidden="true"></i><br>Descrição:
                                        </span><br>Lorem ipsum
                                        dolor, sit amet consectetur adipisicing elit. Eum sed esse voluptatum doloribus
                                        quidem corporis optio harum rerum sint aperiam culpa cumque praesentium
                                        reiciendis, quod tenetur pariatur ex asperiores necessitatibus.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer role="contentinfo">
        <div class="footer-body border-0">
            <div class="container my-4">
                <div class="row text-center">
                    <div class="col-lg-3 py-4">
                        <h6 class="h1 font-weight-bold ">MAIS ACESSADOS</h6>
                        <ul class="list-unstyled text-center p-4 h4">
                            <li class="py-2"><a href="#" class="footer-link font-weight-bold">Núcleo de Avaliação
                                    Física</a></li>
                            <li class="py-2"><a href="#" class="footer-link font-weight-bold">Academia do Jovem</a></li>
                            <li class="py-2"><a href="#" class="footer-link font-weight-bold">Indicação de
                                    Modalidades</a></li>
                            <li class="py-2"><a href="#" class="footer-link font-weight-bold">Próximos Eventos</a></li>
                            <li class="py-2"><a href="#" class="footer-link font-weight-bold">Acessar Perfil</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 py-4 pb-5 mb-2">
                        <h6 class="h1 font-weight-bold">PARCERIAS</h6>
                        <img src="../svg/logo.svg" class="img-fluid p-4" width="30%" alt="ashdausdasd">
                        <img src="../images/logo_mogi_white.webp" class="img-fluid p-3 mt-3" width="50%"
                            alt="aisjdausdasd">
                    </div>
                    <div class="col-lg-3 py-4">
                        <h6 class="h1 font-weight-bold">CONTATE-NOS</h6>
                        <ul class="list-unstyled text-center p-4 pb-2 mb-0 h4">
                            <li class="py-2"><a href="#" class="footer-link font-weight-bold"><i
                                        class="fas fa-map-marker-alt" aria-hidden="true"></i> Av. Professor Ismael Alves
                                    dos Santos, 560,
                                    Mogilar</a></li>
                            <li class="py-2"><a href="#" class="footer-link font-weight-bold"><i class="fas fa-phone"
                                        aria-hidden="true"></i> (11) 4798-5005</a></li>
                        </ul>
                        <p class="text h3 pb-2 m-0">Encontrou algum problema?</p>
                        <a href="#" class="footer-link h4 font-weight-bold">Informe a equipe de Desenvolvimento</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 py-3">
                        <p class="text-center text-md-left m-0 ">© 2019 Copyright:
                            <a href="https://mdbootstrap.com/education/bootstrap/" class="text-default-secondary">
                                <strong> Secretaria Municipal de Esporte e Lazer</strong>
                            </a>
                        </p>
                        <ul class="list-unstyled text-center h6 d-flex">
                            <li class="py-1 pr-2" style="border-right: 1px solid rgb(0,255,255);"><a href="#"
                                    class="footer-link font-weight-bold">Termos</a></li>
                            <li class="py-1 px-2"><a href="#" class="footer-link font-weight-bold">Privacidade</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 py-3 text-center">
                        <p class="h2 text py-2">Siga-nos nas redes sociais</p>
                        <div class="social-media text-center text-md-right d-flex justify-content-around">
                            <a href="#" class="text-white fa-4x ml-auto pr-5"
                                aria-label="Página da SMEL no Faceboook"><i class="fab fa-facebook-square"></i></a>
                            <a href="#" class="text-white fa-4x mr-auto pl-5"
                                aria-label="Perfil da SMEL no Instagram"><i class="fab fa-instagram"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../plugins/JQuery/jquery-3.4.1.min.js"></script>
    <script src="../plugins/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fitodac/bsnav@master/dist/bsnav.min.js"></script>
    <script src="https://use.fontawesome.com/7d6a7543db.js"></script>
    <script src="../plugins/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            $('.owl-carousel').owlCarousel({
                stagePadding: 50,
                loop: true,
                margin: 10,
                dots: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                },
            });
            $('.owl-dot').attr('aria-hidden', 'true')
            scrollPosition()
        })

        var sections = $('section')
            , nav = $('nav')
            , nav_height = nav.outerHeight();
            
            $(window).on('scroll', function () {
            var cur_pos = $(this).scrollTop();
            
            sections.each(function() {
                var top = $(this).offset().top - nav_height,
                    bottom = top + $(this).outerHeight();
            
                if (cur_pos >= top && cur_pos <= bottom) {
                nav.find('li').removeClass('active');
                sections.removeClass('active');
            
                $(this).addClass('active');
                nav.find('a[href="#'+$(this).attr('id')+'"]').parent().addClass('active');
                }
            });
            });

        document.addEventListener("scroll", scrollPosition);

        function scrollPosition(){
            if (window.pageYOffset > 50) {
                $('.navbar').addClass('affix');
            } else {
                $('.navbar').removeClass('affix');
            }
        }

        $(".nav-link").click(function () {
            $(this).parent().parent().find('.active').removeClass('active')
            $(this).parent().addClass('active')
        })

        $(".event-info-toggle").click(function () {
            if ($(this).parent().parent().find('.event-info').hasClass("event-info--shown")) {
                $(this).parent().parent().find('.event-info').removeClass("event-info--shown")
            } else {
                $(this).parent().parent().find('.event-info').addClass("event-info--shown")
            }
        })
    </script>
    <div class="bsnav-mobile">
        <div class="bsnav-mobile-overlay"></div>
        <div class="navbar"></div>
    </div>
    <div class="owl-carousel owl-dot  owl-dots owl-next owl-prev disabled owl-nav owl-theme arrow owl-item cloned active owl-loaded owl-drag tooltip fade bs-tooltip-top tooltip-inner show d-none owl-stage-outer owl-stage">
    </div>
</body>

</html>